In [54]:
import pandas as pd
import numpy as np

### Homework

In [9]:
# 1
import pandas as pd 

df = pd.read_csv('sales_data.csv')

In [13]:
# task1

category_stats = df.groupby('Category').agg(
    Total_Quantity_Sold=('Quantity', 'sum'),
    Average_Price_Per_Unit=('Price', 'mean'),
    Max_Quantity_Single_Transaction=('Quantity', 'max')
).reset_index()

print(category_stats)

      Category  Total_Quantity_Sold  Average_Price_Per_Unit  \
0     Clothing                  157               31.176471
1  Electronics                  183              276.764706
2         Home                  144               55.000000

   Max_Quantity_Single_Transaction
0                               15
1                               15
2                               14

In [15]:
# task1/2

product_sales = df.groupby(['Category', 'Product'])['Quantity'].sum().reset_index()

top_selling = product_sales.sort_values(['Category', 'Quantity'], ascending=[True, False]) \
                           .groupby('Category').head(1).reset_index(drop=True)

print(top_selling)

      Category          Product  Quantity
0     Clothing            Jeans        15
1  Electronics         Smart TV        15
2         Home  Pressure Cooker        14

In [25]:
# task1/3

df['Total_Sales'] = df['Quantity'] * df['Price']

daily_sales = df.groupby('Date')['Total_Sales'].sum().reset_index()

max_sales_date = daily_sales.loc[daily_sales['Total_Sales'].idxmax()]

result_df = pd.DataFrame([max_sales_date])
result_df

         Date  Total_Sales
6  2023-01-07        15150

In [26]:
import pandas as pd 

df = pd.read_csv('customer_orders.csv')

In [ ]:
# task2/1

cus = df.groupby('CustomerID')['OrderID'].count().reset_index()
more20 = cus[cus['OrderID'] >= 20]
filtered_df = cus[cus['CustomerID'].isin(more20['CustomerID'])]
filtered_df

   CustomerID  OrderID
0         101       21
1         102       21
2         103       20
3         104       20

In [ ]:
# task2/2

customer_avg_price = df.groupby('CustomerID').agg(
    TotalPrice=('Price', 'sum'),
    TotalQuantity=('Quantity', 'sum')
).reset_index()

customer_avg_price['AvgPricePerUnit'] = customer_avg_price['TotalPrice'] / customer_avg_price['TotalQuantity']

high_value_customers = customer_avg_price[customer_avg_price['AvgPricePerUnit'] > 120]

print(high_value_customers)

   CustomerID  TotalPrice  TotalQuantity  AvgPricePerUnit
3         104        3395             27       125.740741

In [42]:
# task2/3
df['Total_Line_Price'] = df['Quantity'] * df['Price']

product_stats = df.groupby('Product').agg(
    Total_Quantity=('Quantity', 'sum'),
    Total_Price=('Total_Line_Price', 'sum')
).reset_index()

filtered_product_stats = product_stats[product_stats['Total_Quantity'] >= 5]
filtered_product_stats

             Product  Total_Quantity  Total_Price
5        Cargo Pants               6          180
15       Dress Shirt               5          125
19      Formal Shirt               6          210
30        Smartphone               5         2000
32       Sport Shoes               5          200
35        Sunglasses               5           75
41  Wireless Earbuds               6          720

In [ ]:
# homework 3
# Task 1

In [53]:
import sqlite3

# Read salary band definitions from Excel
salary_bands = pd.read_excel("task/population salary analysis.xlsx")

# Read population data from SQLite
conn = sqlite3.connect("task/population.db")
population = pd.read_sql_query("SELECT * FROM population", conn)
conn.close()

# Assume population table has columns: id, state, city, salary, etc.
# Assume salary_bands has columns: Band, MinSalary, MaxSalary

# Assign salary band to each row
def get_salary_band(salary):
    for _, row in salary_bands.iterrows():
        if row['MinSalary'] <= salary <= row['MaxSalary']:
            return row['Band']
    return 'Other'

population['SalaryBand'] = population['salary'].apply(get_salary_band)

# Calculate measures for each salary band
band_group = population.groupby('SalaryBand')
total_population = len(population)

result = band_group['salary'].agg(
    PopulationCount='count',
    AverageSalary='mean',
    MedianSalary='median'
)
result['PopulationPercent'] = (result['PopulationCount'] / total_population) * 100

# Calculate measures for each salary band in each state
state_band_group = population.groupby(['state', 'SalaryBand'])
state_result = state_band_group['salary'].agg(
    PopulationCount='count',
    AverageSalary='mean',
    MedianSalary='median'
)
state_counts = population.groupby('state').size()
state_result['PopulationPercent'] = state_result['PopulationCount'] / state_result.index.get_level_values(0).map(state_counts) * 100

result = result.reset_index()
state_result = state_result.reset_index()

print("Overall Salary Band Analysis:")
print(result)
print("\nSalary Band Analysis by State:")
print(state_result)

FileNotFoundError: [Errno 2] No such file or directory: 'task/population salary analysis.xlsx'

In [27]:
df

    OrderID  CustomerID              Product  Quantity  Price
0         1         101               Laptop         2    800
1         2         102           Headphones         1    150
2         3         103           Smartphone         3    400
3         4         101  External Hard Drive         2     80
4         5         102             Backpack         1     40
..      ...         ...                  ...       ...    ...
95       96         103              Blender         1     60
96       97         104          Sport Shoes         2     40
97       98         105        Comforter Set         1     45
98       99         101     Wireless Earbuds         2    120
99      100         102       Gaming Console         1    400

[100 rows x 5 columns]

In [ ]:
import pandas as pd
import numpy as np

In [49]:
names=pd.read_csv('names.csv')

In [51]:
names.loc[0]=['ali',65]

In [52]:
names

       Name  Age
0       ali   65
1     Abbas   69
2  Penelope    4
3      Niko    2